.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn--secondary{
    background-color: #6c757d;
    color: #fff;
}


.btn--success {
    background-color: #28a745;
    color: #fff;
}